<!DOCTYPE html>
<html class="text-gray-900 antialiased leading-tight" lang="en">
  <head>
    {% include "partials/site-head.njk" %}
  </head>
  <body class="min-h-screen bg-white">
    {{ content | safe }}
  </body>
</html>
