{% macro field(name, id=name, placeholder='', value='', type='text', name='') %}
<div class="field">
  <input type="{{ type }}" name="{{ name }}" id="form-{{ id }}"
         placeholder="{{ placeholder | escape }}"
         class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"/>
</div>
{% endmacro %}

{% macro select(name, id=name, options, placeholder='', value='', type='text', name='') %}
<div class="field relative">
  <select name="{{ name }}" id="form-{{ id }}"
         placeholder="{{ placeholder | escape }}"
         class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"/>
         {% for x in options %}
         <option>{{ x.name }}</option>
         {% endfor %}
  </select>
  <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
    <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
  </div>
</div>
{% endmacro %}

{% macro label(text, name=text) %}
<div>
  <label for="form-{{ name }}"
    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2">
    {{ text }}
  </label>
</div>
{% endmacro %}

{% macro desc(text) %}
<p class="text-gray-600 text-xs italic">{{ text }}</p>
{% endmacro %}

{% macro submit(text) %}
<div class="md:flex md:items-center">
  <div class="md:w-1/3"></div>
  <div class="md:w-2/3">
    <button class="shadow bg-purple-500 hover:bg-purple-600 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="button">
      {{ text }}
    </button>
  </div>
</div>
{% endmacro %}
