{% import "partials/forms/forms.njk" as forms %}

<form class="w-full max-w-lg mx-auto px-4 md:px-0 py-6" action="https://formsubmit.co/33905a288336b730cd47dcb4a8940ed5" method="POST">
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      {{ forms.label('Your Name', name='name') }}
      {{ forms.field('name', name='name', placeholder='Christine', type='text') }}
      {{ forms.desc('Please fill out this field.') }}
    </div>
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      {{ forms.label('Service') }}
      {{ forms.select('services', id='services', services) }}
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      {{ forms.label('Phone', name='phone') }}
      {{ forms.field('phone', name='phone', type='phone', placeholder='305-973-6784') }}
    </div>
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      {{ forms.label('Email', name='email') }}
      {{ forms.field('email', name='email', type='email', placeholder='hi@pupbestie.com') }}
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-6">
    <div class="w-full px-3 mb-6 md:mb-0">
      {{ forms.label('Dates', name='flatpickr') }}
      {{ forms.field('flatpickr', id='flatpickr', name='flatpickr', placeholder='Select some dates..') }}
    </div>
    <div class="w-full px-3 mb-6 md:mb-0">
      {{ forms.label('Pet Name(s) and Breed', name='pets') }}
      {{ forms.field('pets', name='pets', placeholder='Champ (French Bulldog), Aubrey (Min Pin)', type='text') }}
      {{ forms.desc('Briefly describe your pup(s).') }}
    </div>
  </div>
  <div class="flex flex-wrap -mx-3 mb-2">
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      {{ forms.label('Location', name='location') }}
      {{ forms.field('location', name='location', type='text', placeholder='The Waverly') }}
    </div>
    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
        Neighorhood
      </label>
      <div class="relative">
        <select name="neighborhood" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state" placeholder="West Avenue">
          <option>MIAMI BEACH</option>
          {% for hoodbeach in neighborhoods.miamibeach %}
          <option>{{ hoodbeach.name }}</option>
          {% endfor %}

          <option>MIAMI</option>
          {% for hood in neighborhoods.miami %}
          <option>{{ hood.name }}</option>
          {% endfor %}
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
      </div>
    </div>
  </div>
  {{ forms.submit("Submit Request") }}
</form>
