---
pagination:
  data: services.items
  size: 1
  alias: service
permalink: "services/{{ service.name | slug }}/"
layout: layouts/service.njk
eleventyComputed:
  title: "{{ service.name }} Services in Miami Beach"
---
This is about the {{ service.name }} service in Miami Beach.
