<div class="flex flex-wrap space-x-4 lg:space-x-0">
  <div>
    <h3 class="font-bold">Miami Beach</h3>
    <ul class="neighborhoods lg:flex lg:flex-wrap lg:space-x-4 py-5">
      {% for n in neighborhoods.miamibeach %}
        <li>
            {{ n.name }}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <h3 class="font-bold">Miami</h3>
    <ul class="neighborhoods lg:flex lg:flex-wrap lg:space-x-4 py-5">
      {% for neighborhood in neighborhoods.miami %}
        <li>
            {{ neighborhood.name }}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
